<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email list</title>
</head>
<body>
    
    <div id="app">
        <div class="container">

            <!-- mostra email solo se sono almeno 10 indirizzi random -->
            <ul v-if="emails.length >= 10">
                <!-- stampa le email -->
                <li v-for="email in emails">{{email}}</li>
            </ul>
        </div>
    </div>

    <!-- LINK VUE  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- LINK AXIOS-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- LINK JS -->
    <script type="text/javascript" src="main.js"></script>

</body>
</html>